.container {
    background: rgb(171, 171, 249);
    padding: 1em 1.5em;
    border-radius: 5px;
    box-shadow: #000;
}

.Add-property {
    padding: 1.5em;
    display: flex;
    justify-content: center;
}

input, select {
    padding: .5em;
    margin: .25em 0 .5em 0;
    display: block;
    width: 100%;
    border: solid black 1px;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

button {
    padding: .25em .5em;
    font-size: 1.25rem;
    border-radius: 8px;
    margin: .5em;
}


@media only screen and (max-width: 1200px) {
    input, select {
        display: inline-block;
    }
}