.alert-success {
    background: rgb(210, 242, 200);
    color: rgb(1, 70, 1);
    padding: .75em 1.5em;
    margin: .25em 0 .5em 0;
    border-radius: 10px;
    text-align: center;
    border: solid rgb(1, 70, 1) 1px;
    font-weight: 800;
    font-size: 1.1rem;
}

.alert-error {
    background: rgb(244, 200, 192);
    color: rgb(120, 1, 1);
    padding: .75em 1.5em;
    margin: .25em 0 .5em 0;
    border-radius: 10px;
    text-align: center;
    border: solid rgb(159, 5, 5) 1px;
    font-weight: 800;
    font-size: 1.1rem;
}