
.navbar {
    background: #fcfcfc;
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 2em .25em 1em .25em;
    border-bottom: solid darkgrey 2px;
}

.house-logo {
    width: 3rem;
    margin: 0 1em;
}

.navbar-links {
    padding-left: 2em;
}

.navbar-link-items {
    padding: 0 1.5em .1em 1em;
    list-style-type: none;
    display: flex;
    display: inline-block;
    text-align: end;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

a:hover {
    color: rgb(75, 197, 191);
}

@media only screen and (max-width: 580px) {
    h2 {
        padding: .75em;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }
    .navbar-links{
        display: flex;
        flex-direction: column;
        padding: .75em;
    }
} 

@media only screen and (max-width: 350px) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-content: center;
        padding: 0;
    }
    .navbar-link-items {
        padding: 0 .5em 1em .5em;
    }
}
