.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.properties-container {
    display: flex;
    flex-direction: column;
    flex: 65%;
    align-items:flex-end;
    margin-top: 1em;
}
